<!-- Log In page -->
<div class="container">
    <div class="row vh-100 d-flex justify-content-center">
        <div class="col-12 align-self-center">
            <div class="row">
                <div class="col-lg-5 mx-auto">
                    <div class="card">
                        <div class="card-body p-3">
                             <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">                                        
                                    <form class="form-horizontal auth-form" action="https://mannatthemes.com/dastone/default/index.html">
                                        <h3 class="text-center">Iniciar sesión</h3>
                                        <div class="form-group mb-2 mt-4">
                                            <label class="form-label" for="username">Usuario</label>
                                            <div class="input-group">                                                                                         
                                                <input type="text" class="form-control" name="username" id="username" placeholder="Ingresar usuario">
                                            </div>                                    
                                        </div><!--end form-group--> 
                                        <div class="form-group mb-2">
                                            <label class="form-label" for="userpassword">Contraseña</label>                                            
                                            <div class="input-group">                                  
                                                <input type="password" class="form-control" name="password" id="userpassword" placeholder="Ingresar contraseña">
                                            </div>                               
                                        </div><!--end form-group--> 
                                        <div class="form-group mb-0 row">
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="button" (click)="createAccess()">Iniciar sesion</button>
                                            </div><!--end col--> 
                                        </div> <!--end form-group-->                           
                                    </form><!--end form-->
                                </div>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end col-->
    </div><!--end row-->
</div><!--end container-->
<!-- End Log In page -->
